[2013-12-04 00:51] jackfranklin opened #1 "Better support for plugin names"
Right now, it only supports names of the form: `"gulp-foo"`.

currently, if you try to load in `"gulp-foo-bar"`, it will add "foo-bar" to the object, whereas it would make sense to convert it into camel case, and add `fooBar`.

https://npmjs.org/package/lingo could be of use

[2013-12-04 12:19] jackfranklin opened #3 "Write some tests"

[2013-12-08 21:34] yocontra opened #4 "Return object instead of extending"
Why do

[code]

When instead you could do this

[code]

It seems more idiomatic to return a new object with all of the tasks on it than to extend them onto an object passed in as an argument.

[2013-12-16 12:14] OllieJennings opened #5 "Not working with gulp-sass & Second argument passing does not find package.json"
When doing

[code]

if `gulp-sass` is in your devDependencies, then calling `this.sass()` will result in the error  `#Gulp object does not have sass`

Also, when passing in the second argument, it cannot seem to find the package.json file as seen in the attached file.
![screen shot 2013-12-16 at 10 53 42](https://f.cloud.github.com/assets/1575448/1754187/a355dcac-664b-11e3-8d54-727442e00af2.png)

[2013-12-16 18:46] #3 closed, assigned to nobody

[2013-12-20 21:00] #4 closed, assigned to nobody

[2013-12-20 21:02] #5 closed, assigned to nobody

[2014-01-11 15:10] yocontra opened #7 "name change?"
Shouldn't it be gulp-load-plugins ? It's a little confusing since tasks are totally different

[2014-01-18 21:52] #7 closed, assigned to nobody

[2014-01-18 21:53] #1 closed, assigned to nobody

[2014-01-23 21:52] mrtnbroder opened #9 "plugins with more then one hyphen in their name"
Plugins like "gulp-ruby-sass" won't get loaded because of their second dash in their name. They should get removed so that you can use them.

like "ruby-sass" to "rubysass"

[2014-02-08 14:53] jonhurrell opened #10 "Problems working with gulp-sass/gulp-ruby-sass"
When using this plugin to load gulp-sass, upon running gulp I'm hit with:

<p><code>ReferenceError: sass is not defined</code</p>

gulpfile.js summary:

<p><code>var plugins = require("gulp-load-plugins")();</code></p>

<p><code>gulp.task('styles', function() {…});</code</p>

<p><code> gulp.task('default', ['styles'], function () {…});</p></code</p>

[2014-02-15 06:59] jas opened #11 "Issues when using `browser-sync` and `gulp-es6-module-transpiler` modules"
Using `gulp-load-plugins` along with `browser-sync` and `gulp-es6-module-transpiler` modules, a dependency of BrowserSync will error.

https://github.com/shakyShane/browser-sync/issues/73

This is a very bizarre issue. I apologize if this is not the most appropriate repo for this issue. I'm still following the trail to figure out why exactly this is happening.

[2014-02-15 07:51] #11 closed, assigned to nobody

[2014-02-24 00:22] #9 closed, assigned to nobody

[2014-02-26 21:17] #10 closed, assigned to nobody

[2014-03-01 16:30] sindresorhus opened #13 "gulp-load-tasks"
Remove the `gulpplugin` keyword from gulp-load-tasks so it doesn't show up in search.

[2014-03-02 16:02] julien-f opened #14 "Bump version number and publish it."
It would be nice if you could publish the last version on npm.

[2014-03-02 16:38] #14 closed, assigned to nobody

[2014-03-07 15:21] jackfranklin opened #15 "Better error messages if problem with lazy loading"
See https://github.com/yeoman/generator-gulp-webapp/issues/36

Should catch the error and output something nice.

[2014-03-07 15:42] jackfranklin opened #16 "Nicer readme"
https://github.com/yeoman/generator-gulp-webapp/issues/36#issuecomment-37034976

Any specific modules that break lazy loading => manually require it and override the auto loaded one. See above issue for the problem.

[2014-03-07 18:18] #16 closed, assigned to nobody

[2014-03-24 17:43] gorm opened #17 "Unable to load gulp-connect"
Hi
I tried to upgrade from 0.3 to 0.4, but I got the following error with gulp-connect that I want to report:

[code]

The task is pretty standard:

[code]

My packages.json:

[code]

Any idea on what could be causing this. If I use 0.3 it seems to work fine.

[2014-03-24 17:45] #17 closed, assigned to nobody

[2014-04-03 13:42] mikestreety opened #21 "Allow array to be passed into replaceString"
I have just installed `gulp.spritesmith` which, because it has a dot, isn't covered by the default `replaceString` pattern.

Would be good if you could pass in an array instead - is that possible?

[2014-04-03 14:42] #21 closed, assigned to nobody

[2014-04-03 15:40] #15 closed, assigned to nobody

[2014-04-03 15:41] #13 closed, assigned to nobody

[2014-04-26 00:27] AlistairB opened #22 "Not working with css-sprite"
Not working with https://www.npmjs.org/package/css-sprite

[code]

Results in 'Property 'cssSprite' of object #<Object> is not a function'

[2014-04-26 00:29] #22 closed, assigned to nobody

[2014-05-08 18:10] vikikamath opened #24 "Cannot pass options required by other plugins"
Thanks for this useful plugin!!
Consider

[code]

Now I want to be able to use another plugin like [`gulp-load`](https://github.com/popomore/gulp-load) which requires a parameter `gulp` object to be passed to it on initialization.

It would be good to have something like:

`require('gulp-load-plugins')({'plugin-name': ['plugin-init-param1', 'plugin-init-param2'...]});`

For instance my code block

[2014-05-09 15:01] leomwa opened #25 "When using the gulp.connect plugin, only lazy=false works"
tasks/connect.js

[code]

Omitting lazy:false and running `gulp connect` causes the error:

[code]

[2014-05-09 15:28] #25 closed, assigned to nobody

[2014-05-10 09:32] cognitom opened #26 "How about use a variable "π" for "plugins"?"
This is just an idea. `π` means "PlugIn".

[code]

To input `π`, just press `Opt + P`.

I know it's not a best way... but "plugins" seems too long for me.

[2014-05-10 09:58] #26 closed, assigned to nobody

[2014-06-13 09:46] ghost opened #28 "Automatically add plugins to scope?"
This plugin is great.. but is there a way to import gulp modules without then having me to use the `plugins` var?

The grunt alternative automagically does that!

Ideally, I'd want to call `clean()` instead of `plugins.clean()`

Is this possible?

[2014-06-21 15:42] #28 closed, assigned to nobody

[2014-06-21 15:42] #24 closed, assigned to nobody

[2014-06-24 10:02] u01jmg3 opened #31 "Option to add in base path to require call"
When using gulp I instead choose to install all my components globally. This means in order to load my gulp plugins I must specify a `base` path along with the name of the gulp plugin.

e.g.

[code]

Could `gulp-load-plugins` be extended to allow this path to be passed in? No worries if it's not what you want your plugin to do.

[2014-06-24 15:11] #31 closed, assigned to nobody

[2014-06-26 13:47] jackfranklin opened #32 "Better error if there isn't any package.json"
Right now the error is horrible

[2014-06-27 20:22] jackfranklin opened #34 "Get jshint in here"
Swap to using single quotes exclusively

[2014-06-27 20:31] #32 closed, assigned to nobody

[2014-06-27 20:31] #34 closed, assigned to nobody

[2014-07-16 09:46] iliakan opened #35 "Load from submodule gets wrong package.json"
I wrote a module (gulp task) which uses `gulp-load-plugins()`.

When this module is installed and used by the "Main app", `findup` looks for `package.json` in `cwd`, that is the main app's working directory, and it tries to load plugins for the main app instead.

Takes more time and actually main app has another set of plugins, so that's just wrong.

Solved it like this:

[code]

I wonder if there

[2014-07-16 17:11] #35 closed, assigned to nobody

[2014-09-25 15:42] iliakan opened #39 "Problem after update to 0.11.14, npm 2.0.0 and refreshing all modules"
It just doesn't work.

The problem is that it can't find anything by `multimatch(names, pattern).forEach(function(name) {`.
Please let me know if it works for you after update, if yes, I will supply more details.

[2014-09-26 06:33] F21 opened #40 "Turn pattern and replace string into an object"
I want to use [gulp.spritesmith](https://github.com/twolfson/gulp.spritesmith) with other `gulp-*` plugins.

The name is unfortunate, so the default removal of `gulp-` will not work.

How about turning pattern and the replacement into an object?

[code]

And maybe a convenience version if our replacement string is the same as the pattern

[code]

[2014-10-01 08:18] #39 closed, assigned to nobody

[2014-10-01 08:18] #40 closed, assigned to nobody

[2014-10-06 06:06] twlk28 opened #41 "cannot find module xxx; env: win7 64 symbolic-link"
1. i use `mklink /d .\\node_modules <source>` to create such a node_modules file, for some reason.
2. cmd.exe throw an error : Cannot find module XXX.  index.js@line50
3. then, i calculate the absolute file path , like `var absname = path.join(parentDir, 'node_modules', name);` and return by requireFn, i worked. but i dont know why.

[2014-10-08 15:46] #41 closed, assigned to nobody

[2014-10-17 17:13] Graham42 opened #42 "Error not thrown if module not installed"
Can you make it an option to throw an erorr if a module is not installed?

Normally `var xy = require('xy')`
Would throw `Error: Cannot find module 'xy'` if `xy` is not installed

But if I do

[code]

No error is thrown

[2014-10-18 18:37] #42 closed, assigned to nobody

[2014-10-25 23:45] newtonianb opened #44 "gulp-load-plugins and browserify formatError"
gulp version: `3.8.9`
node version: `0.10.32`
gulp-load-plugins version: `"gulp-load-plugins": "^0.7.0",`

Here is my gulp task

[code]

I get the following error:

[code]

In this format $.browserify does not work.

[2014-10-30 07:21] #44 closed, assigned to nobody

[2014-12-02 17:01] michaeldewayneharris opened #45 "Modules with - in name do not work"
npm install gulp-nunjucks-render

var $ = require('gulp-load-plugins)();

no way to access $.nunjucks-render

also $['nunjucks-render'] is undefined

it would be nice if it would just remove the dash and load it so that you can access via $.nunjucksrender

[2014-12-02 17:03] michaeldewayneharris opened #46 "rename?"
It would be nice if you could rename loaded libraries via the config.

for example

npm install gulp-if

this works and you get gulp if at $.if

however this creates some nasty jshint validation issues in various IDES

What would be nice is if you could rename the plugins via the gulp-load-plugins so that you can access it via $.gulpif or however else the user defines it.

[2014-12-05 16:37] #45 closed, assigned to nobody

[2014-12-08 12:29] #46 closed, assigned to nobody

[2014-12-20 00:52] jlgrall opened #49 "Install missing modules"
Instead of throwing an error, could you ask the user if he wants to install the module ? If he accepts, install the module, then continue as if nothing happened.

Add a configuration option to enable this feature, to prevent a prompt from appearing in a production environment.

To intercept undefined method calls, use [Proxy](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global

[2014-12-20 09:46] #49 closed, assigned to nobody

[2014-12-31 03:37] alvint opened #50 "Add a mechanism to explicitly include plugins that don't match the pattern?"
The current API is fine for the vast majority of cases. However, there are a few plugins that don't match the naming convention but are commonly used with Gulp (like `del`). How about adding a way for the user to explicitly include them? I don't like having to access some plugins one way and other plugins another way.

One possibility is to gently and compatibly tweak the contract of `rename` so t

[2015-01-01 17:46] alvint commented on #50
Ah! I didn't know you could do that. The "Options" section only showed `pattern` taking a single string pattern, but I guess I should have assumed you could pass in an array of patterns as well. You might want to make that clearer for n00bs like me. That does exactly what I needed in a better way. Thanks!

[2015-01-01 17:46] #50 closed

[2015-01-01 19:16] jackfranklin commented on #50
@alvint good point, I will update the documentation :)

[2015-01-15 04:46] crswll opened #51 "Running into issue with gulp-rename."
I can do this just fine
[code]
but
[code]
fails with the error
[code]
Possibly an issue with the `rename` functionality recently added?
https://github.com/jackfranklin/gulp-load-plugins#renaming

[2015-01-15 10:16] jackfranklin commented on #51
It could well be something related to that, interesting. I will have a look at this asap.

[2015-01-15 13:26] crswll commented on #51
It's working well with every other gulp-* module I have. I also tried `{ lazy: false }`. I should have mentioned that in the opening note.

[2015-01-15 13:50] jackfranklin commented on #51
Could you try running a version before the rename functionality was added and see if that works?

[2015-01-15 14:32] crswll commented on #51
That didn't work, so I did a bit more research and realized it was my fault. I didn't have gulp-rename in my `package.json` for whatever reason. Sorry to bother you and thanks!

[2015-01-15 14:32] #51 closed

[2015-01-15 18:56] andig opened #52 "Rename broken in 0.8.0?"
I must admit I'm new to glp, but this is what happens:

	var gulp = require('gulp');
	var $ = require('gulp-load-plugins', {
		rename: {
			'gulp-add-src': 'add',
			"gulp.spritesmith": 'spritesmith',
			'gulp-minify-css': 'minifycss',
		},
		lazy: false,
	})();
	console.log($.add);
	console.log($.spritesmith);
	console.log($.minifycss);

Result:

	undefined
	[Function: gulpSpritesmith]
	undefined

[2015-01-15 19:10] andig commented on #52
Update: I've found that `$.addSrc` does exist if I `camelize` or not. Maybe this is what's causing the problem?

[2015-01-15 19:13] andig commented on #52
Never mind- that was stupid ;)

[2015-01-15 19:13] #52 closed

[2015-01-16 01:47] TuckerWhitehouse opened #53 "Rename & ReplaceString"
Would be convenient if the ```replaceString``` was prepended to a ```rename``` key if it doesn't match the ```pattern```. For example, ```6to5``` does not match ```gulp-*```, so prepended it with ```gulp-```.
[code]

[2015-01-16 11:45] jackfranklin commented on #53
I'm a little against this purely because I'd rather be explicit. Correct me if I'm wrong, but you'd like the above to effectively work equivalentlu to:

[code]

This gets complex when the user has changed the replaceString or they have added an array of replacements, because which one do you use then? Indeed, the default replace string in the plugin is actually `['gulp-*', 'gulp.*']` (the docs nee

[2015-01-19 21:08] halleycarleton opened #54 "Error: Cannot fing module 'glob'"
when running my gulpfile I get the error: `Error: Cannot find module 'glob'`. This seems to be triggered by gulp-load-plugins. This has only been a problem since moving over to a linux machine.

When I remove gulp-load-plugins from my gulpfile I don't get the error anymore.

Gulp v3.8.10
Node v0.10.25
Ubuntu 14.04

[code]

[2015-01-19 21:44] #53 closed

[2015-01-19 21:47] jackfranklin commented on #54
This is interesting...sounds like a dependency of something gulp-load-plugins needs isn't being installed properly from:

`
    at Object.<anonymous> (/home/username/projects/my_project/node_modules/gulp-load-plugins/node_modules/findup-sync/lib/findup-sync.js:15:12)
`

[2015-01-20 00:53] halleycarleton commented on #54
After some further digging I think this is due to some permission issues with my node/npm install. I'll report back here after I get that figured to say if it fixed the issue.

[2015-01-20 02:25] halleycarleton commented on #54
That seems to have been the issue. Now that I have my permissions all sorted out everything seems to be working. Sorry for the false alarm!

[2015-01-20 02:25] #54 closed

[2015-01-27 16:03] callumacrae opened #56 "gulp-load-plugins as a dependency of a dependency not loading plugins"
EDIT: Remove all comments until this one: https://github.com/jackfranklin/gulp-load-plugins/issues/56#issuecomment-71681420

I *think* this is the same as #35.

I have the following project which I use to quickly load up gulp tasks in projects where I work without duplicating code: https://github.com/Lostmyname/lmn-gulp-tasks

Pretty much the same file structure described in [this comment](https:/

[2015-01-27 16:09] callumacrae commented on #56
README says this:

[code]

Wouldn't `__dirname` be better?

[code]

[2015-01-27 16:26] callumacrae commented on #56
I apologise for vomiting text all over this issue! I was thinking through my keyboard, again.

It looks like it isn't an issue with gulp-load-plugins: because I'm loading gulp-load-plugins both in my project, and in lmn-gulp-tasks, it's only taking the first one, which isn't working. It looks like it's just a problem with node.

This is probably even more specific than the issue I initially linked

[2015-01-27 16:46] callumacrae commented on #56
I've figured out the *actual* problem:

[code]

package.json (2) has gulp-load-plugins as a dependency, but because so does package.json (1), so it is loaded into node_modules (1).

When I call `require('gulp-load-plugins')()` from `lmn-gulp-tasks/index.js` it runs the gulp-load-plugins from node_modules (1), so even though it's got the correct package.json, it's got the wrong node_modules directo

[2015-01-27 17:11] callumacrae commented on #56
You should be able to replicate this on this branch of Lostmyname/monkey: https://github.com/Lostmyname/monkey/tree/lmn-gulp-tasks

[2015-02-01 15:38] jackfranklin commented on #56
Hey! Sorry for my slow reply, I have been away. Good stuff debugging this, this is really useful. Determined to try to track down the source of this bug and how we can fix it.

If I'm right, the below is the expected behaviour, right?

[code]

I can't imagine we have to override `require` or reimplement some of it - I'm sure we can do this just by refining the code we have. I'll try to dig into th

[2015-02-01 15:47] callumacrae commented on #56
Yeah, that's the expected behaviour, and it's attempting to use node_modules (1).

I spent quite a bit of time trying to work out a fix, and the best I came up with was basically reimplementing a lot of `require`: finding the module starting from the specified package.json, reading the `main` path, and including that. Haven't written it yet, but would be willing to—this is making things tricky at

[2015-02-03 21:03] moimikey opened #58 "Empty object being returned"
File structure + result:
https://gist.github.com/moimikey/704e1fd7110de886aa5d

I basically wanted to ensure that it was working before I put effort into it, but seemingly I'm getting back an empty object. Modules are in installed locally by the way.

Thoughts? Am I braindead?

Thanks!

[2015-02-03 21:09] moimikey commented on #58
ah... it's the lazy loading. was able to `console.log` normally when I did `var plugin = require('gulp-load-plugins')({lazy: false});

closing!

[2015-02-03 21:09] #58 closed

[2015-02-04 11:19] iarna commented on #56
So npm@3 is going to exacerbate this issue even further by further flattening install trees. Could `gulp-load-plugins` look the package.json (maybe in addition to reading node_modules)? If you use `read-package-json` you'll get exactly the same semantics `npm` has when reading them, including supporting some subtle corner cases and normalizing the fields.

[2015-02-04 11:27] callumacrae commented on #56
I opened a pull request fixing this specific issue here, but it isn't perfect either: #57

I'm not sure how reading the package.json would help in this case: wouldn't it be best to read the node_modules file as in the PR I opened, and then use `findup` to look to see if the module is further up the tree?

[2015-02-12 21:22] destroyerofbuilds opened #59 "support for scoped packages"
The `gulp-load-plugins` module does not support scoped gulp plugins. [npm-scope](https://docs.npmjs.com/misc/scope).

I believe line [20](https://github.com/jackfranklin/gulp-load-plugins/blob/master/index.js#L20) could be changed from `['gulp-*', 'gulp.*']` to `['gulp-*', 'gulp.*', '@*/gulp{.,-}*']`.

[2015-02-18 02:50] Jakobud opened #60 "Can't get this to work for non-gulp plugins"
I have this `package.json`:

[code]

I have this gulp file:

[code]

I get this:

[code]

So it isn't able to load the `del` plugin. I figured it was because it didn't start with `gulp-` so I tried this:

[code]

But that didn't make a difference. Am I doing something wrong? How do you use this with non-gulp-specific plugins?

[2015-02-19 12:27] matijakovacevic commented on #60
It's not an issue...you are doing it wrong.

If you want non gulp plugins to load also, you have to change the pattern (to include non gulp files).

[code]

and then access it with
[code]

[2015-02-19 12:29] matijakovacevic commented on #59
Have you tried adding it through options on initialization?

[2015-02-19 16:32] Jakobud commented on #60
Ah I totally missed that option. Thank you! Great plugin. Speeds up scripts a ton.

[2015-02-19 16:32] #60 closed

[2015-02-20 15:35] destroyerofbuilds commented on #59
@matijakovacevic, that's not something I'd previously thought of doing, but I'm pretty sure I could use the built in options feature to set the plugin pattern, and load plugins from under a scope.

Though that's possible, I don't believe it's a viable solution. In my use case I'm not looking to support some arbitrary naming convention that myself, or maybe an organization, wishes to follow that di

[2015-02-21 21:02] jackfranklin commented on #59
@destroyerofbuilds completely agree that that should be a built in feature (sorry for the slow response, been on hols).

However, can you let me know if changing the config as @matijakovacevic suggests works? If so that's a really easy change to make and one I'd be quite happy to. E

[2015-02-23 23:12] destroyerofbuilds commented on #59
@jackfranklin, I used `gulp-load-plugins` as follows:

[code]

I created a directory `@myco` in my `node_modules` folder and placed `gulp-angular-templatecache` under that directory. I included that package as `@myco/gulp-angular-templatecache` in my `package.json` file.

`gulp-load-plugins` found the package correctly. However, the `requireName` is really odd: `@myco/gulpAngularTemplatecache`.

N

[2015-02-23 23:14] jackfranklin commented on #59
Ah yeah, that's a bit funky. You'd probably want to make a similar change to `replaceString` to strip `/@.+/\/` or similar out (my regex is a little off and I can't easily test right now).

[2015-02-24 18:31] destroyerofbuilds commented on #59
@jackfranklin, what would you expect the name to be? Would the final, camelized, name be mycoAngularTemplatecache, or just angularTemplatecache? I ask, because I wonder if collisions between similar named scoped, and non-scoped, packages should be taken into consideration?

[2015-02-24 21:53] jackfranklin commented on #59
@destroyerofbuilds hmm that's a good point, I had not considered scoping.

I wonder if they should be nested? Eg with these modules:

[code]

And:
[code]

Gives you:

[code]

What do you think?

[2015-02-24 21:57] destroyerofbuilds commented on #59
@jackfranklin, that seems reasonable.

Though I would probably go for `$.myco.angularTemplatecache`.

[2015-02-24 22:01] jackfranklin commented on #59
Ah yes - the camel casing stuff will be as is, that's just a typo on my part.

Do you fancy giving it a go in a PR? Else I'll try to take a look when I can :) Thanks for the discussion on this :+1:

[2015-02-24 22:02] jackfranklin commented on #59
Actually, having taken a closer look at the npm docs:

If that's the case and npm isn't encouraging the use of scoped packages, I'm not so sure we need to be making the effort to support them here.

[2015-02-24 22:34] courtnek commented on #59
@jackfranklin

From https://docs.npmjs.com/misc/scope :

I think this implies that un-scoped registries are the 'backwards' registries. I think why scoping is unsupported in the public registry is because scopes exist to assisting in creating internal, non-public registries. I'd be :+1:  for this request. Thoughts?

[2015-02-24 22:38] destroyerofbuilds commented on #59
@jackfranklin, scopes are also already part of many in-house npm registry solutions, including [npm Enterprise](https://www.npmjs.com/enterprise#scoped).

[2015-02-25 09:26] jackfranklin commented on #59
@destroyerofbuilds @courtnek cool, thanks for correcting. In that case I'd be happy to see this in a PR :+1:

[2015-02-26 20:26] #56 closed

[2015-02-26 21:15] jackfranklin commented on #59
Working on this now - will have a PR in shortly

[2015-02-26 21:31] destroyerofbuilds commented on #59
Thank you @jackfranklin! Got tied up with other things. Would be happy to test and/or code review.

[2015-03-03 11:31] miccferr opened #62 "non-gulp-specific- plugins vol.2 - pattern options"
Similar to issue #60 I'm trying to import and rename non-gulp-specific plugins via the pattern option.
@matijakovacevic suggested the use of [pattern = *] which seems correct.

Though if i try it, I get this error pointing at another package that I have in my packages.json:
```"TypeError: Cannot redefine property: modernizr"```
And if i use the deafult options ``` ['gulp-*', 'gulp.*'] ``` I'm stil

[2015-03-04 16:50] jackfranklin commented on #62
Do you have modernizr twice in your package.json by any chance?

I've said before that I don't encourage using this package to load in every module you've ever got, so I'm not too willing to support it. Redefine the pattern and the options and it should work though.

[2015-03-16 14:38] callumacrae opened #65 "plugins with dots in the name"
I'm trying out a plugin called gulp-buddy.js. What's the best way to load it using gulp-load-plugins?

I don't really want to write `plugins['buddy.js']`, and changing gulp-load-plugins to replace `/\.(\w)/g` with the uppercase equivalent would cause collisions (is that an issue?).

I guess the best option I can think of would be to rename it:

[code]

Is that the best approach, though?

[2015-03-20 13:09] jackfranklin commented on #65
Ah I hate plugin authors who don't follow the conventions :P (jokes)

Yeah the renaming is probably the best approach here, that's its main use case, catering for plugins that don't follow a general scheme.

[2015-03-20 13:09] #65 closed

[2015-03-20 13:10] jackfranklin commented on #62
Going to close this now. Feel free to reopen.

[2015-03-20 13:10] #62 closed

[2015-03-20 13:10] #59 closed

[2015-03-24 12:49] maxgrass opened #66 "AssertionError: path must be a string"
[code]

plugins:
gulp-if
gulp-change
gulp-filesinstream

normal notation `x = require('blabla')` works

It worked with v0.8.0, broken on v0.8.1

[2015-03-24 14:09] maxgrass commented on #66
modifying

$$: require('gulp-load-plugins')(
        {config: '../../package.json'}
    ),

to

$$: require('gulp-load-plugins')()

fixed the issue. Might be that very bug with wrong node_modules directory.

[2015-03-24 14:09] #66 closed

[2015-03-26 12:23] entozoon opened #67 "Shrinkwrap"
Is there a way to make this work after using npm shrinkwrap?
A package.json file would look more like:
[code]
Then lazy load would need to somehow use the npm-shrinkwrap.json file instead..

[2015-04-01 19:31] RileySpiller opened #70 "Empty object being returned"
I'm getting `{}` returned by running...

[code]

I set `lazy: false` after reading this issue https://github.com/jackfranklin/gulp-load-plugins/issues/58

And I my package.json is packed full of plugins, many with or without 'gulp-' prefix.

Any help appreciated.

[2015-04-07 23:02] rleemorlang opened #71 "dependencies cannot be required from NODE_PATH"
The application I'm working on is being integrated into a build environment that requires that all external dependencies live in a separate directory hierarchy. So this means I've had to move `node_modules` from the root directory of my application into a path like `/home/user/libraries/node_modules`. Generally this means just setting the `NODE_PATH` environment variable to `$NODE_PATH:/home/user/

[2015-04-10 10:27] MarkAPhillips commented on #70
[code]

I think does not return all the plugins as ran into this issue myself and only one was returned to the console and wondered why they were not all being loaded. Not sure what this should returned but you would expect all plugins to be shown if lazy is false

I would suggest you run a few plugins to see if they work as expected.

My config at the moment is as follows and works like a dream:

[2015-04-11 11:43] jackfranklin commented on #67
Interesting, I see no reason why we couldn't make it work with a shrinkwrapped file. I don't have time at the moment but if someone does and wants to PR I'm well up for that :+1:

[2015-04-11 11:44] jackfranklin commented on #70
Yeah, I would. Not sure what's going on there.

@RileySpiller did you get to the bottom of this?

[2015-04-11 12:19] jackfranklin commented on #71
@rleemorlang I think that V0.10 will solve this if I've understood. If it doesn't please reopen.

[2015-04-11 12:19] #71 closed

[2015-04-30 11:49] callumacrae opened #74 "findup brittle for finding node_modules"
Apparently the code I wrote before is brittle! Would you accept a PR replacing findup to find the node_module with [resolve](https://github.com/substack/node-resolve) instead?

[2015-05-01 10:53] jackfranklin commented on #74
I would!

[2015-05-01 11:10] callumacrae commented on #74
Cool. Will probably do it this afternoon :)

[2015-05-01 17:16] vkbansal opened #76 "Problem with `config` option on Windows."
Plugins does not work on Windows with
[code]

Instead must use the following
[code]

[2015-05-05 14:23] callumacrae commented on #76
Why would you want to set `config` to package.json? That's the default!

Does it work with other paths like `../package.json` and `foo/package.json`? Just trying to work out where the problem is—I think it's with the `path.dirname()` call [here](https://github.com/jackfranklin/gulp-load-plugins/blob/master/index.js#L38).

[2015-05-14 15:34] AutoSponge commented on #70
:+1:  same issue

[2015-05-14 15:36] callumacrae commented on #70
@AutoSponge Do you definitely have `lazy` set to false?

[2015-05-14 15:40] AutoSponge commented on #70
Yes. I've tried multiple versions of node, throwing tasks inside nextTick, etc. Nothing seems to work yet.

[2015-05-14 15:52] callumacrae commented on #70
If you clone this repo locally, do the tests pass for you?

[2015-05-14 15:53] callumacrae commented on #70
Hang on, the error indicates that `plugins.sass` _is_ defined, otherwise it would say "cannot read property of undefined".

What happens if you run `console.log(plugins)`?

[2015-05-14 16:03] AutoSponge commented on #70
empty object. If I do `console.log(Object.keys(plugins))` empty array.

[2015-05-14 16:04] jackfranklin commented on #70
What does `plugins.sass.toString()` log?

[2015-05-14 16:05] AutoSponge commented on #70
TypeError: Cannot read property 'toString' of undefined

[2015-05-14 16:05] AutoSponge commented on #70
I can try to build from master.

[2015-05-14 16:26] AutoSponge commented on #70
Possible hint: I removed all of the config *except* `lazy: true` and that worked!

Something else in the config object I posted earlier must be messing with plugin names. So, I added a console.log:

[code]

With the original config, it never reaches this... it's not getting any plugins.

[2015-05-14 16:29] callumacrae commented on #70
Hang on, are you using `lazy: true` now? Originally you were using `lazy: false`

[2015-05-14 17:22] #74 closed

[2015-05-14 17:23] jackfranklin commented on #70
@AutoSponge are you able to recreate this issue in a repo you could push to GitHub for me to take a look at?

[2015-05-14 18:01] AutoSponge commented on #70
@callumacrae I'm using `plugins = require('gulp-load-plugins')({lazy: false});` The issue went away when I removed the other config options and *just* passed the lazy value. I think there's another option silently erroring out.

@jackfranklin I'll try to make a gist or something tonight.

[2015-05-14 18:07] jackfranklin commented on #70
@AutoSponge sounds like another config is causing issues. If you could give me something that I can replicate I'll happily debug. Sorry you're having problems and thanks for being responsive!

[2015-05-15 00:06] AutoSponge commented on #70
I think it was caused by the relative path`./package.json`.

Removing the `./` or using the smarter `config: path.join(__dirname, 'package.json'),` should fix this for others.

[code]

[2015-05-15 09:21] jackfranklin commented on #70
@AutoSponge ahh OK. That's interesting, would be nice to show a different error rather than just silently failing weird. I'll see if I can get something going.

[2015-05-18 17:31] jfairley commented on #70
What @AutoSponge discovered is similar to https://github.com/jackfranklin/gulp-load-plugins/issues/76

[2015-06-09 15:11] fergaldoyle commented on #76
`../package.json`  does not work. I'd like to use a `package.json` in the parent directory but it's not working.

[2015-06-16 08:54] bfred-it opened #77 "Repackage as a generic module"
This module is thankfully set up to be very configurable and it allows to load other prefixes as well, like `postcss-*`, but I didn't know that until after I searched all the internet for a similar but generic plugin.

It turns out I can just do this:

[code]

My question is, can we get a generic `load-plugins` module and have this one rely on it to load gulp plugins?

[2015-06-16 09:02] callumacrae commented on #77
+1, I actually thought this the other day when I was using postcss.

[load-plugins](https://www.npmjs.com/package/load-plugins) already exists, but doesn't support everything gulp-load-plugins supports. It's looking at paths instead of a package.json which probably makes it less performant, and it doesn't support lazy loading which _definitely_ makes it less performant.

cc @jonschlinkert because

[2015-06-16 13:46] jackfranklin commented on #77
:+1: a few people have asked for this now. I've been kind of hesitant but I'm being pushed in the direction of doing it. If we can collab with @jonschlinkert that'd be awesome. Be cool to update `load-plugins` with some of the features this plugin has.

[2015-06-16 15:33] callumacrae commented on #77
It would pretty much just be a case of taking the code from this module and changing the default options, right?

There's also load-modules, again by Jon(?!): https://www.npmjs.com/package/load-modules

[2015-06-16 15:34] jackfranklin commented on #77
Basically, yeah. And then making this module effectively be that new module + some predefined config.

[2015-06-16 18:59] jonschlinkert commented on #77
I'd be happy to collaborate on implementing whatever changes are needed. I can add anyone as a collab as well

[2015-06-16 19:07] jonschlinkert commented on #77
@jackfranklin how about if I take a stab at implementing some of the features in load-plugins. if anything is missing, or if I miss a nuance somewhere, we can tweak until it get where it needs to be...

[2015-06-16 21:59] jackfranklin commented on #77
@jonschlinkert that sounds great! More than happy to collab or work on some PRs. Just let me know :)

[2015-06-17 01:39] jonschlinkert commented on #77
@jackfranklin added you as a collab. PRs would be great :)

[2015-06-19 18:13] TheDutchCoder opened #78 "Pass plugin options into gulp-load-plugins"
I'm having trouble passing in custom objects for certain gulp plugins.

Take the following example:
[code]

If i use gulp-load-plugins and pass it the same object, the plugin will not configure itself. This makes sense, because how would gulp-load-plugins know which plugin to pass the object to.

Example:
[code]

[2015-06-20 12:36] callumacrae commented on #78
[code]

Does that work?

[2015-06-20 14:46] TheDutchCoder commented on #78
Yes that does work, but that defeats a bit of the purpose of using plugins.s3Upload.
For some reason it doesn't work in the pipe.

Is that a bug in the plugin than?

E.g. this doesn't work:
[code]

[2015-07-23 19:38] pushkin- commented on #70
I have a similar problem as above, but adding the `config` parameter doesn't solve it.

    var gulp = require('gulp');
    var path = require('path');
    var plugins = require('gulp-load-plugins')({
        config: path.join(__dirname, 'package.json'),
        lazy: false
    });

Printing this gives me:

    {
      "util": {
          "colors": {
              "enabled": true,
              "s

[2015-07-27 20:43] pushkin- opened #80 "gulp-load-plugins only loads one plugin"
I initially posted this as a comment to #70 but considering that the proposed solution didn't work and more importantly the problem I'm having is not identical, I'm opening a new issue.

This plugin is only loading one of the many plugins I have.

Here's my simplified `gulpfile.js`:

    var gulp = require('gulp');
    var plugins = require('gulp-load-plugins')({
        lazy: false
    });

In on

[2015-07-28 13:18] callumacrae commented on #80
Would you be to set up a repo that we can replicate this in?

[2015-07-28 19:36] pushkin- commented on #80
[Here](https://github.com/pushkin-/gulp-load-plugin-issue) is the repo.

[2015-07-30 00:07] tcurdt opened #81 "config, camelize (and more) broken?"
Using this just works fine:

    G = {
      util: require('gulp-util'),
      swig: require('gulp-tc-swig'),
      markdown: require('gulp-tc-markdown'),
      frontmatter: require('gulp-front-matter'),
      vartree: require('gulp-vartree'),
      less: require('gulp-less')
    },

Replacing it with

    G = require('gulp-load-plugins')({
      pattern: [ 'gulp-*', 'gulp-tc-*' ],
      config: '

[2015-07-30 08:23] jackfranklin commented on #81
When camelize is false I don't think it strips out any hyphens or anything, so you should see if:

[code]

gives you anything. Do those work? Else it would be great to have a repo where I can reproduce.

[2015-07-30 09:47] tcurdt commented on #81
Ah - that's a bit counter intuitive from the option name.
IMO that should be split up into two options.

But I was just trying like this:

    var G = require('gulp-load-plugins')({
      pattern: [ 'gulp-tc-*' ]
    });

    console.log(Object.getOwnPropertyNames(G).sort());

and nothing was showing. Then I realized why - I just `npm link`ed the deps.
So that is obviously that's a "doh!" on my si

[2015-07-30 10:27] jackfranklin commented on #81
The first is a known bug I believe - needs further looking into but isn't too severe, most people don't need to change that.

What would you like the behaviour to be when `camelize` is set to `false` ? Feel free to open another issue specifically on that :+1:

[2015-07-30 10:27] #81 closed

[2015-07-30 10:55] callumacrae commented on #80
Replicated

[2015-07-30 11:52] tcurdt opened #82 "camelize should just control camelcase"
With `camelize: true` the name `gulp-front-matter` gets turned into `frontMatter`.
With `camelize: false` the name `gulp-front-matter` gets turned into `front-matter`.

So not only does the option control the camel case but also the stripping of the hyphen.
I think this should be split this into two options. Something along the lines of this https://repl.it/zZu/1 :

    var fnCamel = function(s) {

[2015-07-30 11:52] tcurdt commented on #81
opened #82

[2015-07-30 14:22] jackfranklin commented on #78
@TheDutchCoder did you get anywhere with this? Being able to pass arguments into plugins is something I'm not sure I'd like to add - I'd rather it be done explicitly as @callumacrae showed.

If you're still stuck on the above though please feel free to reopen, and apologies for my slow reply.

[2015-07-30 14:22] #78 closed

[2015-07-30 14:34] pushkin- commented on #80
So you replicated the problem? That's strange.
Considering that such a simple example was failing, I was expecting the issue to be associated with my environment.

Is `gulp-util` required for the plugin to work? I tried uninstalling it to see if I would get an empty object,  but it says `Cannot find module 'gulp-util'`. It's not in my `package.json` nor am I referencing it anywhere in my gulpfile.

[2015-07-30 14:35] TheDutchCoder commented on #78
Yeah that worked, but as I said, it sort of defeats the purpose of having one place to load all plugins and then to have to manually configure some plugins afterwards, instead of being able to pass a config object when needed in the pipe.

It's not a big deal, but was just wondering if this plugin would support something like that.

Not sure how gulp works on the inside, but it seems counter intui

[2015-07-30 14:59] entozoon commented on #67
Was this closed because it was done?

[2015-07-30 16:16] jackfranklin commented on #67
Woops, sorry, closed the wrong one. It's not done but I have no time to work on it. I'll love a PR though :)

[2015-08-02 09:31] callumacrae commented on #82
Camelize is converting a hyphenated string into a camel case string. What's counter-intuitive about that? would advantage would an option bring?

[2015-08-02 09:56] tcurdt commented on #82
@callumacrae Well, I guess it depends of the definition of 'camelize' - to me the current behaviour is strip and camelize. Camelcase is applied to collection of words - the fact that they are connected by a hyphen is another matter.

Right now 'camelize' being `false` doesn't provide much value - at least I'd be missing it.

Frankly speaking - it might just be better to expose the mapping function

[2015-08-02 10:04] jackfranklin commented on #82
I think I agree with @callumacrae on this one. To me given the string `gulp-front-matter`, camelizing it is the process of stripping hyphens and then camel casing the string. What would happen if we did introduce a second option for stripping hyphens, and then you gave it the string `gulp-front-matter` with `camelize: true`, strip: false`, or something?

I don't like the idea of adding `strip` bec

[2015-08-02 10:04] jackfranklin commented on #80
@callumacrae did you get anywhere with this? Let me know if I can be of use.

[2015-08-02 10:14] tcurdt commented on #82
@jackfranklin I can see that `camelize: true` being the default and enough most of the time. Especially as I think `camelize: false` does not make any sense (otherwise you have to use e.g. plugins['front-matter']).

So as I said - I would give up the `camelize` and improve on the mapping. Instead of the literal 'rename' mapping the plugin could also support a mapping function. That would mean full

[2015-08-02 10:16] tcurdt commented on #82
So for the future I would deprecate the `camelize` option and add the support for the rename function.

[2015-08-02 15:47] pushkin- commented on #80
Replicated on Windows 8.1. Same issue.

[2015-08-03 08:52] callumacrae commented on #82
Or have the default rename function use the camlize option to avoid breaking BC

[2015-08-03 08:52] callumacrae commented on #80
Sorry, should have been clearer: not really capable of typing right now except with one hand (broke my collarbone), so won't be able to fix this right now.

[2015-08-03 09:09] tcurdt commented on #82
@callumacrae sure - that would be for the deprecation period where there could be a warning on the console if it's being used.

[2015-08-03 09:27] jackfranklin commented on #80
@callumacrae ouch! No worries; @pushkin- I'll try to take a look if I get some spare time.

[2015-08-05 22:24] callumacrae commented on #82
I will gladly tackle this one when I'm capable :)

[2015-08-06 08:52] jackfranklin commented on #82
:+1: sounds like a good ground. @tcurdt please feel free to have a crack at an implementation, more than happy to help with it.

@callumacrae concentrate on getting better! ;)

[2015-08-08 08:23] TNT-Likely commented on #70
i have a problem as same as  @AutoSponge

how do you slove?

[2015-08-08 09:17] jackfranklin commented on #70
@pushkin-

Nope, the default behaviour removes `gulp-` and `gulp.` from package names.

Presumably it doesn't work if you remove the `config` param either?

@TNT-Likely we're not sure yet, haven't been able to lock down exactly what's going wrong.

@pushkin- @TNT-Likely if either of you can push a repo that replicates this then I'm happy to dig into it :+1:

[2015-08-08 11:35] pushkin- commented on #80
@jackfranklin [Here's](https://github.com/pushkin-/gulp-load-plugin-issue) the repo.

[2015-08-08 16:07] TNT-Likely commented on #70
i reslove it ,when i use version 0.10.0,it work,it seems the lastest vesion have some problems.
@jackfranklin

[2015-08-08 17:10] pushkin- commented on #70
@jackfranklin Correct. It doesn't work without the config parameter.

[2015-08-16 13:43] Manaus opened #83 "loading non-gulp modules?"
Hi,
does this module load other modules too? Like browser-sync and the like? Or just those with a `gulp-` prefix? If it does, what name is used for those modules? In case of some longer names, like `gulp-less-watcher`, what is the generated name?

Thanks

[2015-08-16 14:14] callumacrae commented on #83
Check out this issue for info on loading non-gulp stuff: https://github.com/jackfranklin/gulp-load-plugins/issues/77

`gulp-less-watcher` would be loaded as `plugins.lessWatcher`.

[2015-09-04 17:51] dulcedilip commented on #56
i having similar sought of problem
i am all gulp tasks as one project called "tasks" where it is having it's own package.json.
 when i am trying to use var $ = require(gulp-load-plugins)(); in tasks project which in turn finding package.json in tasks folder rather it need to find node_modules/gulp-load-plugins/ package.json.

when i renamed tasks/package.json to tasks/package1.json . everything is

[2015-09-05 19:38] jackfranklin commented on #56
@dulcedilip I think here you could override the `config` option and set the right path to the package.json you'd like it to use?

[2015-09-05 19:44] dulcedilip commented on #56
i resolved this problem in moving  grunt-load-plugins to package.json into tasks project, which solved my problem. yeah i can use by override the config option i dont want to change core cwd.path.

Thanks for the support.

[2015-09-11 00:44] diazemiliano opened #84 "Can't load vinyl-ftp plugin."
I've tried with:
[code]
and
[code]
But I haven'y anithing.

[2015-09-11 08:02] callumacrae commented on #84
gulp-load-plugins only loads plugins beginning with `gulp-`—it's designed to load gulp plugins, not all modules. Check out the pattern options, or just require it manually.

[2015-09-12 01:16] diazemiliano commented on #84
Ok thanks!

[2015-09-12 01:16] #84 closed

[2015-09-13 13:39] jackfranklin commented on #84
@callumacrae thanks for such a speedy reply! @diazemiliano glad you got it sorted :)

[2015-09-19 21:12] sandipchitale opened #85 "support task dependency tree listing"
It will be useful to see task dependency tree.

Excellent plugin BTW.

[2015-09-19 21:19] shinnn commented on #85
It's ready implemented in the [gulp CLI](https://github.com/gulpjs/gulp/blob/cbd69632083e21431573409312e7ed00bafc1d83/docs/CLI.md) and  should not be reimplemented in this project.

[2015-09-19 22:34] sandipchitale commented on #85
Oops...was not aware if it. Thanks.

[2015-09-19 22:34] #85 closed

[2015-09-25 06:48] mqliutie opened #86 "generator hottowel中使用gulp-load-plugins"
在generator hottowel 的 `gulpfile.js`
[code]

在node_modules -> gulp-load-plugins -> index.js中没有找到`if`, `print`等等

[code]

[2015-09-25 07:31] #86 closed

[2015-10-05 23:47] ebowers opened #87 "Using PostCSS"
Hi @jackfranklin,

I am having a little trouble getting postCSS to work with this script. It looks like the error happens when I try to pass in an array of postCSS processors into the postCSS plugin itself. I tried adding the *plugin.* to these postCSS processors, but I am still getting an error. Any ideas?

[code]

[2015-10-06 08:34] jackfranklin commented on #87
Hey!

I think I might need a bit more info - what is `plugins` being passed in as? Is it just the result of calling gulp-load-plugins?

A bit of info on the exact error would be really useful too.

[2015-10-06 12:37] ebowers commented on #87
Sure thing,

So the above code works if I comment out postCSS. When you call on it though, it requires postCSS processors to be loaded into it. So I tried prepending `plugins` to each of the postCSS processors since they live in the same directory as the gulp plugins themselves.

Below is the error I'm seeing if I use the code from my first message above.

[code]

If I were to remove `plugin.` fro

[2015-10-06 12:39] callumacrae commented on #87
Check out the pattern option: https://github.com/jackfranklin/gulp-load-plugins#options

Basically, it's only looking for plugins starting with `gulp`, you need to tell it to look for postcss plugins, too.

See also https://github.com/jackfranklin/gulp-load-plugins/issues/77

[2015-10-06 13:00] ebowers commented on #87
@callumacrae This looks to do the trick. A quick question for you.

I have it working when I enter the postCSS plugins in manually ...

[code]

I'm a little confused about what is going on in the #77 example ...

[code]

Is he manually renaming the plugin directories and prepending with `postcss-` and then removing it when it runs?

Thanks for your help, I'm a little new at all of this.

[2015-10-06 13:33] callumacrae commented on #87
He's assuming that [the plugins](https://github.com/postcss/postcss#plugins) all start with `postcss-` (and to be fair, most of them do).

At this point, why not just require the plugins manually?

[2015-10-06 13:36] ebowers commented on #87
Oh yeah, requiring them manually is what I was planning since I don't have a ton of them that I am using currently. I was just curious if there was a more automated way of doing things. I'll try out the method above if I start adding more. Thanks so much @callumacrae & @jackfranklin for your help!

[2015-10-06 13:36] #87 closed

[2015-10-15 10:16] #82 closed

[2015-10-15 23:55] jonschlinkert commented on #77
@jackfranklin just wanted to follow up on this. if we re-work some of the logic/options in load-plugins so it more closely matches the API of this lib - while also being more generic than this lib, would you be open to using load-plugins here? that way we can combine efforts and share knowledge on what's working best for users?

so basically we would just implement load-plugins with the defaults t

[2015-10-16 09:23] callumacrae commented on #77
I think the goal here should be to get gulp-load-plugins to this state:

[code]

_(ES6 for example only)_

That would be neat :)

[2015-10-16 15:48] jackfranklin commented on #77
@jonschlinkert thanks for the reminder, sorry for not getting involved before as I said I would.

I completely agree with @callumacrae here, if we can make sure load-plugins provides everything we need, then gulp-load-plugins can become a simple wrapper around it, with some configuration that makes sense for Gulp specific cases. Any more complex cases can just customise the options gulp-load-plugi

[2015-10-17 22:55] jonschlinkert commented on #77
great! that sounds perfect, and don't sweat it, I've had a lot on my plate too!

I'll take a stab at refactoring load-plugins and report back here when it's done. then we can make any changes needed to get it to where it needs to be

[2015-11-04 12:38] movie4 opened #89 "Can't load gulp-modify-css-urls"
Thanks for amazing plugin!

Can't load  https://github.com/dustinspecker/gulp-modify-css-urls

[code]

[code]
use
npm --version 3.3.10

How fix it?

Thanks

[2015-11-04 13:24] jackfranklin commented on #89
Is it available under another name? Can you log out `Object.keys(plugins)` to see what that is?

Have you configured the plugin differently to the defaults at all? It would be useful to see more of your Gulpfile.

[2015-11-04 13:36] movie4 commented on #89
I use simple gulpfile for test it

[code]

[code]
`Is it available under another name?`
- think yes - i use 'modifyCssUrls'

thanks for quick reply!

[2015-11-04 13:51] jackfranklin commented on #89
Can you `console.log(Object.keys(plugins))` to see what's defined?

[2015-11-04 13:51] jackfranklin commented on #89
And the plugin is definitely listed in your package.json file?

[2015-11-04 14:03] movie4 commented on #89
package.json
[code]

console
[code]

iwith gulp-watch - work fine

[code]

gulpfile with watch task

[code]

[2015-11-04 14:12] jackfranklin commented on #89
[code]

You should be able to refer to the plugin as `plugins['gulp-modify-css-urls']` but I'm not sure why it's not being renamed as we would expect...

[2015-11-04 14:23] callumacrae commented on #89
Are `plugins.batch` and `plugins.watch` working?

[2015-11-04 14:31] movie4 commented on #89
Are plugins.batch and plugins.watch working? - yes

[2015-11-04 14:32] shinnn commented on #89
[code]

[2015-11-04 14:44] movie4 commented on #89
think problem in `gulp-modify-css-urls.

[code]

[code]

[code]
[code]

https://github.com/dustinspecker/gulp-modify-css-urls/issues/3

[2015-11-04 14:45] movie4 commented on #89
[code]

[2015-11-04 14:52] shinnn commented on #89
Ah, OK I found the root cause.

[`gulp-modify-css-urls`'s entry point is `index.js`](https://github.com/dustinspecker/gulp-modify-css-urls/blob/ae4eed478bcfca259d0769b498624b177626acf5/package.json#L6) but the npm package doesn't include `index.js`.

[code]

@jackfranklin This is not a gulp-load-plugins issue.

[2015-11-04 15:13] jackfranklin opened #90 "Add debug option"
For when people need help with an issue, it would be really nice to be able to do:

[code]

And that would enable a tonne of console.logging to give info on what's being loaded, etc.

[2015-11-04 15:52] dustinspecker commented on #89
Yep, this was my fault. Sorry about this guys. I changed the structure last night and forgot to update `package.json`.

[2015-11-04 16:05] jackfranklin commented on #89
@dustinspecker no worries!

[2015-11-04 16:05] #89 closed

[2015-11-04 16:06] jackfranklin commented on #90
This would be a nice PR for someone who's new to OSS and would like to contrib. Please ping me if you're interested, I'd love to help :)

[2015-11-04 16:18] movie4 commented on #89
Thanks for help!

[2015-11-05 10:24] #90 closed

[2015-11-05 10:24] jackfranklin commented on #70
If anyone could run this against v1.1.0 with `DEBUG: true` set, the output from that might shed some light?

[2015-11-05 10:26] jackfranklin commented on #76
Did we ever get anywhere with this? I'm wondering if `config: path.join(__dirname, './package.json')` works more reliably across OS's then maybe we should make that the default?

[2015-11-05 10:26] jackfranklin commented on #80
@pushkin- sorry I haven't got round to this issue, I'll try to take a look.

In the mean time, if you upgrade to gulp-load-plugins v1.1 and set `DEBUG: true`, does any of the output help us debug at all?

[2015-11-16 11:56] entozoon commented on #67
Was this ever looked at in the end? I'd have a go but it's beyond my abilities unfortunately..
I keep shrink wrapping sites to future-proof them, and then not being able to understand why they don't work - forgetting it's because of this issue :(

[2015-11-16 12:03] callumacrae commented on #67
When I've used shrinkwrap before, we've used both package.json and npm-shrinkwrap.json, it generally works a lot better.

Pretty sure setting the `config` options to `npm-shrinkwrap.json` will still work. It's still stored as `root.dependencies`.

[2015-11-21 15:10] Martinspire opened #92 "Time impact running this plugin"
Since this plugin will need to find out what plugins are required, it seems to me this will take up some time. The readme however doesn't state this nor how much it will be. Shouldn't this at least be mentioned? The time it takes seems like a dealbreaker to me for me using this plugin.
And whats also not clear from the readme is if this is a one-time thing for starting Gulp or one that will keep l

[2015-11-21 17:16] jackfranklin commented on #92
Finding out what plugins are running is a case of reading in a local JSON file and parsing it - I have not profiled it but I doubt this would have much of an impact if any at all. This would be fairly easy to profile if you had two Gulp files, one that used this plugin and one that didn't.

Additionally the plugin lazy loads by default, so say you're loading 10 plugins but the task you want to run

[2015-11-21 17:16] #92 closed

[2015-12-28 16:12] carloshpds commented on #83
Use the `pattern` property for that ;)

[2015-12-28 16:49] carloshpds opened #93 "Load only gulp plugins or is there a easy way to get all packages?"
Is there an easier way to get all node modules declared in package.json?
I tried to use `*` as pattern and worked well for the most of plugins, but get some instability for `gulp-protractor`.

`TypeError: Cannot redefine property: protractor`
Is there some incompatibility?

I've seen a related issue #62, so should i use this module only for a gulp plugins and use something like [load-modules](http

[2015-12-28 16:52] carloshpds commented on #93
So, i found the problem and why my fix works, i have `gulp-protractor` AND `protractor` in my package.json. But the answer is still valid :)

[2015-12-28 19:34] Manaus commented on #83
Thanks guys

[2015-12-28 19:34] #83 closed

[2015-12-29 10:57] jackfranklin commented on #93
Perfect, glad you would a work around. I'm going to close this for now as I don't really see this as an issue with the plugin, other than perhaps we could provide a nicer error message.

[2015-12-29 10:57] #93 closed

[2015-12-29 18:17] carloshpds commented on #93
Yeah!  Maybe a better error message would help to figure it out faster .
I'm gonna fork it and make a pull request later :smile:

[2015-12-29 18:23] carloshpds opened #94 "CONTRIBUTING.md file"
Would be nice if there was some guideline to collaborators. :)

[2015-12-29 19:05] jackfranklin commented on #93
@carloshpds perfect! :)

[2016-01-05 04:15] john-benson commented on #80
@jackfranklin

Not sure if this is still needed; but since no one has responded in a couple of months and the issue is still open:

Run on Windows 10, 64 bit
gulp: 3.90
npm: 3.3.6
node: 4.1.2

Executing:
[code]

Results in:
[code]

The debug statements stops, and my simple log
[code]

Outputs:
[code]

[2016-01-05 04:18] john-benson commented on #80
I had originally thought I reproduced this; but it appears I could not.

If anyone else is having this problem, make sure you correctly spell the name of the resulting plugins.

[2016-01-05 10:27] jackfranklin commented on #80
@pushkin- I just downloaded your test repo, then made sure I was running the latest version:

[code]

I then turned `DEBUG: true` on and also updated the console log so it just logged the keys:

[code]

Running `gulp` gives me:

[code]

As you can see, it finds the two plugins as I would expect. Could you try running it at your end and see if it now works?

[2016-01-05 10:28] jackfranklin commented on #80
If this is still happening for you on the latest version, could you open a new issue so it's easier to track separately to this one? Thanks :)

[2016-01-05 10:28] jackfranklin commented on #67
@entozoon did you try what @callumacrae suggested?

I think that should work so I'm going to close this, but please feel free to comment if it doesn't and I'll reopen.

[2016-01-05 10:28] #67 closed

[2016-01-05 10:29] jackfranklin commented on #76
Closing - if anyone else finds this issue please let me know.

[2016-01-05 10:29] #76 closed

[2016-01-05 10:37] jackfranklin opened #96 "Swap out JSHint for ESLint"
There is a `.jshintrc` file but it's out of date and it doesn't run on Travis, so I've no doubt the code is breaking the jshint rules!

The steps I'd take for this PR would be:

- [ ] Remove `.jshintrc` and get rid of jshint as a dependency from `package.json`
- [ ] Add `eslint` as a developer dependency (`npm install eslint --save-dev`)
- [ ] Follow the [eslint getting started guide](http://eslin

[2016-01-05 10:40] #94 closed

[2016-01-05 10:40] jackfranklin commented on #94
@carloshpds good suggestion, done :)

[2016-01-05 11:24] entozoon commented on #67
I've given that a go, and having a weird problem..
[code]
Gives this error:
[code]

Which I can't fathom because my ``npm-shrinkwrap.json`` file is definitely there, in process.cwd().
And I know it should work because if I rename ``npm-shrinkwrap.json`` to ``package.json`` (getting rid of my current one) and remove the ``config`` option .. it works!

As a workaround I guess I could just use the sh

[2016-01-05 11:51] jackfranklin commented on #67
Could you try:

[code]

And see if that works?

[2016-01-05 11:56] entozoon commented on #67
Aaah, success!
That coupled with the necessary:
[code]
I must admit I'm tempted to carry on using the npm shrinkwrap stuff in the package.json file.. seems quite a neat and tidy way of doing things.

Thank you for the help and solution both of you :)

[2016-01-05 12:01] jackfranklin commented on #67
It's annoying that we have to do that though for it to work - might be something to look into. @callumacrae have you come across this before? I vaguely remember you debugging this but I could well be wrong.

@entozoon glad it's working!

[2016-01-05 15:31] jackfranklin commented on #70
@RileySpiller did you get anywhere with this?

I think that I'm going to close this shortly given it's not had an update really since August. If anyone is hitting this though please let me know - and a repository that replicates the issue I can clone would be awesome too.

[2016-01-05 15:31] #70 closed

[2016-01-05 15:49] callumacrae commented on #67
Nah, I've never used npm-shrinkwrap.json without also having a package.json, so haven't ran in to anything like this.

[2016-01-05 15:58] jackfranklin commented on #67
I didn't mean shrinkwrap specifically, more just the weirdness of having to specify the `path.join(__dirname,...)` nuisance.

[2016-01-05 16:05] ryan-codingintrigue commented on #96
I'd like to tackle this - what kind of eslint config are you looking for, just recommended rules plus spacing/quotes?

[2016-01-05 16:07] jackfranklin commented on #96
@ryan-codingintrigue amazing! Recommend rules + spacing/quotes would be a great place to start. We can always edit that later in future PRs.

[2016-01-05 16:28] jackfranklin commented on #96
Closed by #97

[2016-01-05 16:28] #96 closed

[2016-01-05 21:24] pushkin- commented on #80
@jackfranklin Huh. Using your gulpfile (printing `Object.keys($)` vs the whole object), I get the same output you got. And after successfully using the loaded plugin, I can verify that it does indeed work.

Printing the whole object, the only key I see is `util` for some reason (like in my original post). But printing just the keys gets me both `util` and `rename`.

Not sure what the issue was bef

[2016-01-05 22:23] jackfranklin commented on #80
@pushkin- perfect, so it's all working! Weird regarding it printing or not :/ If both the plugins work as normal though that's good. I'm going to close but please comment / start a new issue if anything else goes awry. I haven't tested on Windows so there may well be more bugs.

[2016-01-05 22:23] #80 closed

[2016-01-06 08:43] Erichain opened #98 "How to change the port of livereload ?"
If I have multiple apps started at the same time, aren't they conflicted ?

[code]

Now I just know how to set options above. The port of livereload is 35729. So how to change the port of livereload ?

[2016-01-06 11:17] callumacrae commented on #98
This isn't an issue with gulp-load-plugins, if anything it is an issue with gulp-connect.

[gulp-connect is blacklisted](https://github.com/gulpjs/plugins/blob/master/src/blackList.json#L23). Just use connect directly.

[2016-01-06 11:34] jackfranklin commented on #98
Yup, as @callumacrae this isn't a specific issue to this project, closing.

[2016-01-06 11:34] #98 closed

[2016-01-06 11:43] SamHH commented on #70
I gave up on the plugin upon encountering this issue months ago. I'd be happy to give it another go and pass you the repo if the issue reoccurs. Hopefully will get that to you later today.

[2016-01-06 11:59] SamHH commented on #70
Turns out that I can no longer recreate this issue. That's a good thing, I think.

[2016-01-06 12:56] jackfranklin commented on #70
@SamHH that's good news! I still don't know what caused it, which is frustrating, but perhaps it was a random edge case a recent release fixed.

[2016-01-10 16:49] nirazul opened #99 "Loading gulp-plugins that default to ES6 modules"
Hey!

I'm trying to lazy-load [gulp-stylelint](https://github.com/olegskl/gulp-stylelint) with `gulp-load-plugins`. Unfortunately, it has the new module structure of ES6, which doesn't seem to be handled by this package.

 What's the best way to make it work? I'm aware, I could always load it myself and it also works that way:
`import stylelint from 'gulp-stylelint';`

Nonetheless, I'd prefer to l

[2016-01-10 18:06] jackfranklin commented on #99
Hey!

So if you're not in ES6 you need to refer to the module as so:

[code]

[2016-01-10 18:57] Nirazul commented on #99
Unfortunately, this works neither.
This way I'm getting notified, that I'm calling default from undefined. So either way, I'm out of luck.

[2016-01-10 19:20] callumacrae commented on #99
https://github.com/olegskl/gulp-stylelint/blob/master/package.json#L7

If you look at the resulting JS, you've got this:

[code]

Does it work if you get it as `require('gulp-stylelint').default`?

[2016-01-11 13:22] Nirazul commented on #99
Ok, I think I've found the error. I've simply forgotten to call default. Instead, I wrote just:
`.pipe( $.stylelint.default )` ...which fails. Sorry for wasting your time!

For me, it's ok to write `.pipe( $.stylelint.default( <options> ) )`. Maybe it'd be a good idea to incorporate a warning if you register an es6 (probbably a module that has `default` as only value ?).

[2016-01-11 13:42] jackfranklin commented on #99
@Nirazul no worries, glad it's working.

I'm up for adding that option, although my concern at the moment is that we seem to have added quite a lot of options so far to this plugin and we should consider carefully adding more.

@callumacrae what do you think?

[2016-01-11 16:22] callumacrae commented on #99
I'm not really sure. On the one hand, this is a babel-specific problem and I wouldn't usually be for working around a problem caused by another library in this one. But on the other, this project is basically incompatible with ES6 modules in its current form and it won't work with the native implementation either (if that ever happens).

Do you know what's happening with native ES6 modules and nod

[2016-01-11 19:34] jackfranklin commented on #99
They are in progress, but I don't know enough about the detail.

For now, I'm tempted to add this to the README, and if it becomes a more common issue (I expect given time it will), let's work on a solution?

@Nirazul do you fancy doing a PR into the README to highlight this difference?

[2016-01-11 22:16] Nirazul commented on #99
@jackfranklin With pleasure. Just give me a few days, it's gonna be a rough week for me ;)

[2016-01-11 22:22] jackfranklin commented on #99
@Nirazul no rush at all, thank you :)

[2016-01-19 12:03] iamfrontender opened #100 "Lazy loaded plugins enumeration"
When plugins are lazy loaded, they defined as accessors on `finalObject`. Since `#defineProperty` uses `enumerable: false` option, this makes impossible to reuse properties from plugins holder object somewhere else ( they not listed within `Object.keys`, etc. ).

I'd suggest to add `enumerable: true` to `#defineProperty` inside of main module fn. It'll not broke anything but will add ability to pr

[2016-01-19 12:04] iamfrontender commented on #100
I'll prepare pr, since it super-easy

[2016-01-19 12:51] iamfrontender commented on #100
@jackfranklin thanks for quick feedback :+1:

[2016-01-19 12:51] #100 closed

[2016-02-01 22:32] eborden commented on #71
I'm still seeing this issue. I'm using 1.1.0.

[2016-02-01 22:42] jackfranklin commented on #71
@eborden going to need some more info - can you get a repo that replicates this issue up for us to take a look at? Do you see the exact same error as above? A stack trace would be useful.

[2016-02-02 14:48] Trial-In-Error opened #102 "README.md out of date; global scope import no longer supported"
Hi!

I have a use case where I'd like to attach the loaded plugins to the global scope, and I spent some time digging around for the option / flag to turn it on because the first line in the README (`Loads in any gulp plugins and attaches them to the global scope, or an object of your choice.`) implies that it's possible. After finding issue #28, it looks like it's not supported - could you update

[2016-02-02 15:55] jackfranklin commented on #102
Hey, I'll try to get to this when I can but not sure when that'll be - alternatively if you were to submit a PR with an updated README I'd love to merge it :)

[2016-02-02 15:55] jackfranklin commented on #102
Thanks for spotting the out of date part though :)

[2016-02-02 16:12] Trial-In-Error commented on #102
See PR #103 for a slight change in wording! Cheers!

[2016-02-02 16:13] #102 closed

[2016-02-02 16:33] eborden commented on #71
The error is slightly different. My guess is that this is actually a problem with `resolve` not correctly handling $NODE_PATH. When using `require` these plugins load perfectly, but fail with gulp-load-plugins.

[code]

[2016-02-02 16:34] eborden commented on #71
It'll take a little more effort for me to create a repo to reproduce this, but I'll see if I can get to it today.

[2016-02-02 16:51] jackfranklin commented on #71
@eborden perfect, thank you. Might be a bug in resolve but happy to do digging if you can get a repo, thanks :)

[2016-03-12 16:31] aaronroberson commented on #99
I was hoping to use this plugin with ES6. I have a `gulpfile.babel.js` and a `.babelrc` file and babel installed locally. But it doesn't appear to work when doing something like the following:
[code]
From the discussion above, I can't tell if ES6 support is on the roadmap?

[2016-03-13 09:44] jackfranklin commented on #99
@aaronroberson in your above example you'd need to invoke `$`:

[code]

I need to catch up with this, but for now I think until this becomes a wider problem some docs in the README are the best solution. I'd love a PR if someone can beat me to it :)

[2016-04-14 18:51] mwessner opened #106 "Resolving manually provided config file"
Hi! This is a follow-up on previous [PR/issue](https://github.com/jackfranklin/gulp-load-plugins/pull/104) on resolving manually provided config file. Let's try to get to the bottom of this...

The problem I initially faced happens in the following scenario:

OS: Windows 10 Pro.
Shell: PowerShell 5.0.10586.122

Here is the relevant file structure on the filesystem:

	/
	|__ node_modules/
	|   |
	|

[2016-04-14 20:22] goyney commented on #106
`test_package.json` is an invalid filename though. The `package.json` filename is a built-in constant to node. Why would you expect that to work?

I personally do not feel a plugin should accommodate non-standard behavior. What is your reasoning for trying to change the name of the package file?

[2016-04-14 22:32] mwessner commented on #106
The problem I encountered is not caused by the file name - it is all about file path. So, even './../../package.json' will result in an error (at least on Windows). The solution I proposed takes care of both file path and file name while being platform-agnostic.

Regarding the file name per se - as I understand it: the whole idea of config option is to target the configuration file - whatever it m

[2016-04-16 07:58] jackfranklin commented on #106
If you do `config: require('./test-package.json')` does that work? I think it might, and if so I think documenting that that is something you can do might be a preferred approach here.

Thanks for writing this up though - I will try to take a more detailed look at it soon. If you could get the above examples into repos I could grab and work with that'd be really useful :)

[2016-04-18 18:46] mwessner commented on #106
@jackfranklin, providing the config object by doing `config: require()` works fine. So, it made me investigate further and finally I realized that path to the config file provided in gulpfile.js should be written relative to the index.js - ie. load-gulp-plugins directory (not relative to the gulpfile). On the other hand, when require() is invoked from within the gulpfile.js, the path of config fil

[2016-04-26 15:04] clickanywhere opened #107 "Please include a license file"
Please include a license file

[2016-04-26 15:15] jackfranklin commented on #107
Good shout, I've added the MIT license.

[2016-04-26 15:15] #107 closed

[2016-04-30 22:01] mrt123 opened #109 "complete task execution 5x slower"
Running multiple tasks takes 143ms on average when using native require vs 900ms when using gulp-load-plugins.

Plugins involved :
`angularModules = require("gulp-angular-modules"),
    concat = require('gulp-concat'),
    del = require('del'),
    eventStream = require('event-stream'),
    less = require('gulp-less'),
    cssLint = require('gulp-csslint'),
    merge = require('merge-stream'),

[2016-05-03 07:44] jackfranklin commented on #109
Interesting; if anything I'd expect a better performance due to the lazy loading that's on by default.

We could really do with some benchmarking / profiling to see if we can hunt down what's slow and start to fix it - not something I've done before, though. Do you have any thoughts on this? Pinging @callumacrae ?

[2016-05-03 07:46] jackfranklin commented on #109
Could you also try passing the option:

[code]

And see if that makes a difference?

Equally if you could get this repo online so I can easily run & compare that'd be awesome.

[2016-05-03 07:50] jackfranklin opened #110 "Chore: Update ESLint"
We're on 1.10, latest is 2.9.

Probably fairly straightforward; might be some rule deprecations and such to fix.

[2016-05-09 09:13] callumacrae commented on #109
That's not good. Wonder if this module will be able to help us debug this: https://github.com/jaguard/time-require

+1 to an example repo: would be useful.

[2016-05-14 13:53] jonnyserra opened #111 "imagemin-pngquant not loading correctly"
So i'm having some problems with any package that's not prefixed by the word "gulp" for instance if i try to use imagemin-pngquant i'm screwed since this package defaults to only loading files prefixed with the word gulp...

Why is this the case? why not default to loading everything in package.json and then allow people to be more specific if they wish?

[2016-05-14 15:26] shinnn commented on #111
Duplicate of https://github.com/jackfranklin/gulp-load-plugins/issues/84 https://github.com/jackfranklin/gulp-load-plugins/issues/83

[2016-05-14 16:51] jonnyserra commented on #111
I'd already figured that out from the documentation, but **why** is it like that? It doesn't make much sense to me, why would you add a default rule that restricts your app's usage? A lot of people use more than just gulp modules, and several gulp modules have **their own** modules, imagemin being a great example, it just doesn't make sense to me.

[2016-05-14 16:51] #111 closed

[2016-05-14 17:39] callumacrae commented on #111
Because this is a project for loading gulp plugins, and per the gulp plugin guidelines, gulp plugins should begin with `gulp-`. There are very few libraries that work out of the box as gulp plugins.

You might be interested in this issue and the linked projects: https://github.com/jackfranklin/gulp-load-plugins/issues/77

[2016-05-15 20:25] #106 closed

[2016-05-16 08:01] jackfranklin commented on #111
@jonnyserra a lot of people use this plugin to load all their npm packages, which is fine, but this project has always been specifically focused on Gulp plugins (the clue is in the name) - you can configure it to load everything and there are also other modules that do that if you'd rather use one of them.

The goal with scoping the loading to `gulp-*` and `gulp.*` by default was to ensure the plu

[2016-05-16 08:02] jackfranklin commented on #106
@mwessner sorry I never replied to this comment - do you fancy making a PR with those documentation changes? That would be much appreciated if you have the time :)

[2016-05-17 17:24] ednilsonamaral opened #112 "[SOLVED] Task for Stylus"
If I use Stylus with Jeet, in gulpfie.js, usually I declare:

[code]

Now, after modularized gulp tasks with `gulp-load-plugins`, I've:

[code]

But prefixer() and jeet() not working.

[code]

I tried with plugins.prefixer() and not working too.

Also, I tried declare in `gulpfile.js`:

[code]

How can I fix this?

Thanks everyone!!

[2016-05-18 04:51] jackfranklin commented on #112
By default, this plugin only loads packages that start with `gulp-*` or `gulp.`.

You need to change the `pattern` option - see docs here: https://github.com/jackfranklin/gulp-load-plugins#options.

Can you let me know if that fixes it?

[2016-05-19 02:39] ednilsonamaral commented on #112
Hi @jackfranklin, how are you?

Thanks for your help!

I solved this require `jeet()` in the stylus task, not in `gulpfile.js`. The code is here:

[code]

[2016-05-19 02:40] #112 closed

[2016-05-23 13:25] ayalon opened #113 "Version 1.2.3 breaks gulp 3.9.1 + sass completely: No output"
I did a fresh install with npm install today. If I start gulp with a sass task, there is **no output at all**.

If I downgrade to 1.2.2, everything works as expected.

package.json
[code]

gulpfile.js
[code]

[2016-05-23 13:52] jackfranklin commented on #113
Oh dear! I'm sorry to hear this.

If you run with `{ DEBUG: true }` as the options do you see anything?

[2016-05-23 13:52] jackfranklin commented on #113
Also if you're able to get this in a repo on GitHub that I can clone that would be great.

[2016-05-23 14:41] rvdkooy commented on #113
We have the same issue with eslint

We found out that this is related to the fact gulp-load-plugin is now requiring gulplog:
https://github.com/jackfranklin/gulp-load-plugins/blob/master/index.js#L6

gulplog is registering itself with sparkles.
this will affect the behavior of gulp-util which is also using sparkles to find out which logger to use:
https://github.com/gulpjs/gulp-util/blob/master/li

[2016-05-23 15:57] codedbypaul commented on #113
I'm having the same issue. Debug doesn't output anything.

My tasks using plugins.plugin() do still work, you just don't see any gulp output.

[2016-05-23 16:12] doowb commented on #113
I have a fix for this and added some tests.

Github seems to be caching my previous fork and I'm not able to push up yet. As soon as that's resolved, I'll submit a PR.

[2016-05-23 16:14] jackfranklin commented on #113
@doowb awesome, thanks. I'm seeing issues with GitHub too so no rush; if you make the PR I'll merge and release. Really appreciate your work on this.

[2016-05-23 20:54] jeffro94 commented on #113
I just spent hours trying to fix my project before finding this update was the issue.

[2016-05-23 21:13] jsheffers commented on #113
Happening here too.  Downgrading works fine.  Subscribed.

[2016-05-23 23:21] doowb commented on #113
@jackfranklin I submitted a PR with changes to be close to what `gulp-utils` uses (based on the code that @rvdkooy linked to). There's also a test to verify the debug logging is running..

[2016-05-23 23:30] #113 closed

[2016-05-23 23:32] jackfranklin commented on #113
@doowb thanks for all your work. 1.2.4 is now on npm with the fix applied.

[2016-05-24 05:37] rvdkooy commented on #113
awesome :+1:

[2016-07-09 11:38] vinitm opened #116 "processing plugin after it is loaded"
[code]

Is this the right way of manually calling `plugins.browserSync = plugins.browserSync.create();` after loading plugins or there is some option provided for doing the same?

[2016-07-11 10:49] jackfranklin commented on #116
This is the right and only way to do this.

I'm 50/50 on wanting an API to do this. How common is it that plugins need this? I don't want to add yet another config option if this is a very rare case but if enough people need it I'd be open to suggestions.

[2016-07-11 10:52] jackfranklin commented on #109
@mrt123 have you an example repo to work against? I'd love to dig into this.

[2016-07-11 11:13] jackfranklin commented on #109
https://github.com/stormuk/storm-base-theme/blob/master/gulpfile.babel.js from @lgladdy is a decent size to profile :)

[2016-07-11 20:38] mrt123 commented on #109
@jackfranklin
I've updated Node to : v4.4.5  (previously had 2.x), and re-tested:

This is my https://github.com/mrt123/checkers-ng-2/blob/master/other/tools/gulpfile.js

Even though my tasks are spread across multiple files (with use of 'require-dir' module), I've managed to test with a single gulpfile, just with 'compile' task alone, and it's still slow.

I have a task 'compile' which I'm testin

[2016-07-11 20:45] mrt123 opened #117 "loading plugins changes scope of their path"
Issue found when working with node_module :     "require-dir": "0.3.0",

[code]

however

[code]

[2016-07-12 12:17] jackfranklin commented on #117
Can you try passing `requireFn: require` and see if that fixes it?

Else you could do `path.join(__dirname, 'gulp-tasks')` to give an absolute path. I'm not sure if there's a way to prevent the scope changing here.

[2016-07-12 12:19] jackfranklin commented on #117
Could be something to do with https://github.com/jackfranklin/gulp-load-plugins/blob/master/index.js#L62

[2016-07-12 12:59] jackfranklin commented on #109
Thank you! I'm a n00b in this area but would love to dig in. Any thoughts you have, please share them :)

[2016-07-12 13:28] jackfranklin commented on #109
@mrt123 can you upgrade to Node 6? Also, what version of npm are you on?

I'm on Node 6.1 and npm 3.8.6 and for me there's not much time difference.

First I ran `time gulp compile` with `gulp-load-plugins` used, and then I replaced `gulp-load-plugins` with:

[code]

And ran again. Results:

## With GLP
gulp compile  1.12s user 0.12s system 103% cpu 1.204 total
gulp compile  1.18s user 0.18s syste

[2016-07-12 13:32] jackfranklin commented on #109
@callumacrae do you fancy running the above too and seeing what you get?

[2016-07-13 08:35] vinitm commented on #116
[code]

Above are some of the plugins that I have been using, and it seems it is quite common for plugins to ask for plugin-specific options for initializing.

And Browsersync and Babel are only some of the many popular plugins which have a good user base.

[2016-07-13 11:03] jackfranklin commented on #116
OK - particularly given babelify then I can see the potential argument. What are your thoughts on a potential API?

[2016-07-13 13:12] mrt123 commented on #109
Results from 2nd machine (my previous results were from Macbook Pro, this is another Macbook Pro).

OS:  OSX 10.10.5 (14F27)
gulp-load-plugins@1.2.4

#### Node v5.3.0  / NPM v3.10.3
With GLP  / gulp compile   : 957,  758 , 772 , 762
Without GLP   / gulp compile   :  350,  351, 352 , 348

#### Node v6.3.0
With GLP  / gulp compile   : 802,  897 , 1.03 , 884
Without GLP   / gulp compile   :  385,  36

[2016-07-13 13:42] jackfranklin commented on #109
This is very strange that you're seeing such a perf difference and I'm not...I'm not sure what could be causing this :/

[2016-07-13 13:47] mrt123 commented on #109
What's your OS? Could you try in another machine?

[2016-07-13 13:48] jackfranklin commented on #109
I'm on a 2015 13" MacBook Pro on OSX 10.11.4. I'm using nvm to manage Node versions.

Can you share with me the exact steps & Gulpfile(s) you used to run the tests? Maybe I made a mistake...

[2016-07-13 14:20] mrt123 commented on #109
##### `cd other/toolsl`
##### `npm install`
##### Overwrite https://github.com/mrt123/checkers-ng-2/blob/master/other/tools/gulpfile.js with code I've posted few posts back:
[code]
####  Run `gulp compile`, few times
#### Record results

#### Overwrite:
[code]
with:
[code]
#### Run `gulp compile`, few times
#### Record results

[2016-07-14 08:07] vinitm commented on #116
[code]

`parseFns` option can be provided which takes a parse function for each plugin and returns a parsed plugin.

[2016-07-14 17:47] vinitm commented on #116
That is exactly what I mean

[2016-07-15 03:47] bi-kai opened #118 "gulp.watch run only once with gulp-load-plugins"
run `gulp watch` in cli, the task `compile:html` only run once:
[code]
[code]
what is wrong, please?

[2016-07-15 09:27] jackfranklin commented on #116
@vinitm how do you feel about working on a PR? :)

[2016-07-15 12:50] vinitm commented on #116
sure, I will create a PR

[2016-08-30 19:14] gin93r opened #120 "Doesn't appear to load main-bower-files"
[code]

If I log plugins, mainBowerFiles is not listed and calling `plugins.mainBowerFiles()` errors with "mainBowerFiles" is not a function.

Thoughts?

[2016-08-31 10:05] jackfranklin commented on #120
Can you get the project up online?

And do you have `main-bower-files` in your `package.json` as a dependency?

You could pass: `DEBUG: true` as an option and look at what gets outputted.

[2016-08-31 11:00] gin93r commented on #120
I'll see if I can get it uploaded. It's saved as a devDependency though. I'll pass DEBUG : true when I get in.

[2016-08-31 11:37] jackfranklin commented on #120
Should be fine as a dev dependency.

[2016-08-31 12:32] gin93r commented on #120
Ok, I got the [project online](https://github.com/gin93r/baseproject).

I passed `DEBUG : true` and it looks like it's loading the plugin (9 in total), though it's only lazy loading 6 of them. Here's a screenshot of the output from the debug.

![image](https://cloud.githubusercontent.com/assets/5880428/18128735/4aa88918-6f55-11e6-878c-d1a7f641b58e.png)

Let me know if there's anything else you nee

[2016-08-31 12:33] jackfranklin commented on #120
It looks like it's not renaming... is `plugins['main-bower-files']` defined?

[2016-08-31 12:37] gin93r commented on #120
Negative. Using `plugins['main-bower-files']` produces the same error, just with `main-bower-files` instead of `mainBowerFiles`

[2016-08-31 12:39] jackfranklin commented on #120
Can you disable lazy loading and see if that fixes?

[2016-08-31 12:42] gin93r commented on #120
Same result with both `plugins.mainBowerFiles` and `plugins['main-bower-files']` with `lazy : false`

[2016-08-31 14:06] jackfranklin commented on #120
OK. I don't really have time to debug this right now. I'd suggest you edit `node_modules/gulp-load-plugins/index.js`, add some `console.log` calls and the like and try to figure it, and let me know if you get anywhere. Else I'll try to look when I next have time.

[2016-08-31 14:40] gin93r commented on #120
No worries. Thanks for your time.

[2016-09-01 08:06] jackfranklin commented on #120
If you do find anything of note do let me know :)

[2016-09-09 14:14] jackfranklin commented on #116
Closed as of #119

[2016-09-09 14:14] #116 closed

[2016-09-09 14:24] jackfranklin commented on #99
@Nirazul if you're still hitting this problem, I think 1.3.0 will let you get around it with:

[code]

See https://github.com/jackfranklin/gulp-load-plugins#postrequiretransforms-13-only for more info.

[2016-09-09 15:55] jackfranklin commented on #117
@mrt123 is this still an issue? Did you ever find a way round it?

[2016-09-20 08:48] fracz opened #122 "Change the default pattern to * (match all)"
I wonder why the default pattern is `['gulp-*', 'gulp.*']`? Why isn't it simply `['*']`?

Such configuration prevents this helper to be used with non-gulp-prefixed dependencies (like `del`, `yargs`, `chalk` etc).

Wouldn't it be great if we could `$.del`, `$.yargs`, `$.chalk` with no extra configuration? Is there any drawback?

One I can think about is a name clash between plugins, but `gulp.somet

[2016-09-20 08:50] callumacrae commented on #122
You might be interested in this issue: https://github.com/jackfranklin/gulp-load-plugins/issues/77

[2016-09-20 09:01] jackfranklin commented on #122
You could simply pass in [`*`] as the pattern and that would have the desired effect. This plugin was only ever designed for gulp plugins, which is why the pattern is as such.

One could even publish a module `load-plugins` that simply exports `gulp-load-plugins` with the right configuration.

[2016-09-20 13:11] LTheobald commented on #120
Hi @gin93r. It looks like you made the same mistake as I did. Line 6 in your example:

    patterns : ["gulp-*", "gulp.*", "main-bower-files"],

The key needs to be `pattern` not `patterns`. It's failing back to the default pattern which is the `gulp-` prefixed items & hence why you don't see `mainBowerFiles()`

[2016-09-20 14:00] jackfranklin commented on #120
@LTheobald awesome, thank you! I'm sure we could put some nicer logging in if you supply an unknown option. I'll open an issue for that.

[2016-09-20 14:13] gin93r commented on #120
@LTheobald Oh - wow. Thanks! Such a simple oversight. I'm glad it was a user error though.

[2016-09-20 16:41] jackfranklin opened #123 "Error if given unknown config keys"
See: https://github.com/jackfranklin/gulp-load-plugins/issues/120#issuecomment-248296984

This will stop annoying issues because of typos :)

[2016-09-20 16:41] jackfranklin commented on #120
Closing this but tracking a potential fix in #123, which anyone is welcome to take as a PR :)

[2016-09-20 16:41] #120 closed

[2016-10-14 02:50] zslabs opened #124 "Multiple config locations support"
Hi,
Thanks for making this! Looking through the options, I saw that you can specify a location to read the `package.json` from, which definitely saves some time keeping versions up to date across multiple shared packages.

What I was wondering was if it's possible to specify multiple locations to read from:

[code]

I'd imagine if it were to come into conflict with similarly named gulp plugins, th

[2016-10-14 09:09] jackfranklin commented on #124
A config can be a string  or an object, so in this case I think you could do this yourself with Object.assign, Lodash or similar:

[code]

Would that work? I haven't tried it myself  but give that a go. If that, or something similar, does work, it would be a good  README  addition if you fancied doing a PR :)

[2016-10-14 13:56] zslabs commented on #124
Hey @jackfranklin,
Thanks for the suggestion! Yep, I was able to find a way to make this work. I've created https://github.com/jackfranklin/gulp-load-plugins/pull/125 that adds that to the documentation with a more robust "merge" function. Let me know what you think, thanks!

[2016-10-14 13:56] #124 closed

[2016-10-17 18:20] bfred-it commented on #77
Is https://github.com/jonschlinkert/load-plugins done? Seems to be working fine for my use case (postcss)!

[2016-10-24 10:19] #122 closed

[2017-02-05 17:15] jackfranklin opened #128 "Move to Node v4 as a minimum base & refactor with ES2015 things"

[2017-02-05 17:34] Moofx commented on #109
Yep. I can confirm that its about 5x slower than using require for each plugin.

[2017-02-06 08:10] jackfranklin commented on #109
@Moofx, cool, could you share how you did that?

I'm not actively working with Gulp and profiling this tool right now but I am open to any PRs or discussions on how to improve this.

[2017-02-06 11:48] Moofx commented on #109
It is very simple code. Just running style rules checker. I think that problem may be caused by user enviroment. I am running on **Win7**. Didn`t tested it on ubuntu yet. But I had so far problem with jshint that was needed to install it localy. (If it was installed globaly, it ended with [error](https://github.com/spalger/gulp-jshint/issues/131) )

**gulpfile.js**:
`var gulp = require('gulp');
va

[2017-03-07 21:40] Chrisedmo commented on #71
Any updates on this ? Where did it get up to? I'm getting a similar error…

[2017-03-08 10:13] jackfranklin commented on #71
@Chrisedmo I have never had this error + have not  been able to replicate. I also don't work on this project much or use Gulp these days. I'm afraid I need some help with this. If people can give me a Github repo that shows the issue easily I might be able to dig into it, or if someone else can figure it and make a PR that's great, I'd love to merge it, but the chances of me fixing it soon are sli

[2017-07-20 08:00] marmelin opened #129 "DEBUG not in IOptions"
Added the DEBUG option to the gulp-load-plugins configuration and got the following error:

[code]
It is imported like this:

[code]
The IOptions type definition does not have a DEBUG option!:

[code]

Does the DEBUG option work if I add it to the type definition?

[code]

[2017-07-20 09:14] jackfranklin commented on #129
Where is this type definition coming from? I didn't define it. It sounds like the definition is indeed out of date.

[2017-11-27 04:33] ghost opened #131 "gulp-sourcemaps has not been detected"
Thank you for the amazing tool.

Unfortunately,  I faced with strange problem: the `gulp-sourcemaps` has not been detected by `$.sourcemaps`. However, if to use `gulp-sourcemaps`  by regular way, it is visible:

[code]

Console:

[code]

[2017-11-27 21:31] brian-lamb-software-engineer opened #132 "How do I find out correct plugin names"
I am trying to understand better, not seeing it documented anywhere, how to access plugins that have unbeknownst names.  In this case i decided to swap out gulp-uglify with gulp-uglify-es.

I tried many combinations of patters, and renames, but i can not access it via plugins yet.

It finally occurred to me that when i first set this up I learned that I can just console.log the entire plugins obje

[2017-11-27 21:31] brian-lamb-software-engineer commented on #132
I determined/hoped that when I printed out uglifyEs `{ default: [Function: plugin] }`
the fact that it was not undefined It was atleast the valid name, then when i tried printing out uglifyEs() it yielded `TypeError: plugins.uglifyEs is not a function`.  So, That led me to the clue that maybe I did need the default portion after all, so i printed out uglifyEs.default it came back as `[Function: pl

[2018-09-18 12:29] forever14k opened #135 "NPM audit reports 2 vulnerabilities"
[code]

Is there any chance for updating vulnerable dependencies?
Thanks in advance.

[2018-09-20 08:56] callumacrae commented on #135
npm audit is a bit eager with this stuff, this isn't an issue

1) you shouldn't be running gulp in production and you definitely shouldn't be doing it anywhere users have access to it

2) micromatch isn't using randomatic for cryptography so there's no vulnerability there anyway

3) this isn't an issue in randomatic either apparently: https://github.com/jonschlinkert/randomatic/issues/15

[2018-12-13 01:29] puggan opened #136 "IDE autocomplete"
I like how this plugin forces me to save the packages, but the
"This frees you up from having to manually require each gulp plugin." don't work well with the IDE:s autocomplete functionality, so ended up with this code:

[code]

Is there a better way to get the IDE to know whats available?
(in my case PHPStorm)

[2019-03-24 07:01] rowild opened #137 "Is this plugin still managed?"
The last update was 2 years ago. Meanwhile, some dependencies need update ("npm audit" complains).

Please inform us, if this plugin is deprecated or if there is an update coming soon!

Thanks!

[2019-03-25 17:08] callumacrae commented on #137
send a pull request updating the dependencies and poke jack on twitter and i'm sure he'll be happy to merge it :)

[2019-04-25 14:06] puggan commented on #135
`npm audit` have changed it warnings to recomendate: `braces >=2.3.1`
so instead of
`gulp-load-plugins > micromatch > braces > expand-range > fill-range > randomatic`
it now just says:
`gulp-load-plugins > micromatch > braces`

So the problems now is:
gulp-load-plugins > micromatch > braces
gulp-load-plugins@1.5.0 -> micromatch: ^2.3.8
micromatch@2.3.11 -> braces: ^1.8.2
not braces >=2.3.1

gulp-l

[2019-05-30 17:50] jackfranklin opened #139 "Maintainers wanted!"
Hi all,

I'm not in a position to maintain this plugin as well as it needs. If someone would like to take over, I will happily give you contributor access + npm publish rights.

Please let me know via this issue or DM me on Twitter - @Jack_Franklin.

Thanks!

[2019-05-31 01:55] pioug commented on #139
Hello @jackfranklin, I am using `gulp-load-plugins` in my projects at work. So I would happy to help you with the small chores (bump, triage issues, release...). I am doing my best to maintain a couple of other gulp plugins https://www.npmjs.com/~pioug.

Thanks a lot for creating this plugin! The API is great 🌟 Never had a single issue with it.

[2019-06-03 20:58] jameelmoses commented on #139
@jackfranklin I'd be interested in taking this on. I heavily use the plugin at work as well, and I'd love to ensure it stays up-to-date and actively maintained.

[2019-06-28 08:20] jackfranklin commented on #139
@pioug @jameelmoses I've just added you both as collaborators on the repo 👌

Please feel free to push/merge/close issues/etc, and do whatever you think is best. For now I'll be able to do the releases when you'd like (if you need me, ping me on Twitter (Jack_Franklin) or just email jack@jackfranklin.net). If this goes well I'll then add you to npm and you can be fully in control.

Thank you so muc

[2019-06-28 12:06] jameelmoses commented on #139
Sounds good, @jackfranklin!

[2019-06-28 12:11] jameelmoses commented on #137
All vulnerabilities were resolved with #138. I will work to replace deprecated packages in the next release

[2019-06-28 12:11] #137 closed

[2019-06-28 12:12] jameelmoses commented on #135
As noted above, this was resolved with #138. Closing now. Will work on updating deprecated packages in the next release.

[2019-06-28 12:12] #135 closed

[2019-06-28 12:19] jameelmoses commented on #136
IDE autocompletion for this plugin is outside of the scope of the plugin. This is meant to easily import gulp plugins by name only without require/import statements for each. I'm sorry I don't have a better answer for you here, but every IDE/text editor handles autocompletion differently, many relying on third-party packages for support.

[2019-06-28 12:19] #136 closed

[2019-06-28 12:28] jameelmoses commented on #131
Were you able to resolve this? I am unable to replicate the issue.

When I console.log() the function as you've done above, I get the following in my console as expected:

[code]

If this is still an issue, let me know, and I'll re-open it. It might help if you can create a repo replicating the issue and send a link here in the issue.

[2019-06-28 12:28] #131 closed

[2019-06-28 12:31] jameelmoses commented on #110
We're up to 2.13.1 as of version 1.6

[2019-06-28 12:31] #110 closed

[2019-06-28 12:33] jameelmoses commented on #99
closing as this is no longer an issue

[2019-06-28 12:33] #99 closed

[2019-06-28 12:42] jameelmoses commented on #132
According to the docs for [gulp-uglify-es](https://www.npmjs.com/package/gulp-uglify-es), you are correct that you need to invoke the `.default()` method. This is part of the declaration for the plugin.

You're also correct that you need to add it to the `pattern` key in the options object. This is what lets the plugin know what globs to search for.

[2019-06-28 12:42] #132 closed

[2019-06-28 12:45] jameelmoses commented on #129
Closing this due to inactivity and the TypeScript definition being outside of the scope of this plugin, although I'm happy to re-open if this is still an issue and with more information, notably a reply to @jackfranklin  on where the definition is coming from.

[2019-06-28 12:45] #129 closed

[2019-06-28 13:59] jameelmoses commented on #117
Closing due to inactivity

[2019-06-28 13:59] #117 closed

[2019-07-02 04:19] jameelmoses commented on #128
This required a minimum version of Node v8, but it's been implemented and merged. I added minimum requirements and a deprecation notice of earlier versions of Node to the readme. All tests and travis builds are passing.

[2019-07-02 04:19] #128 closed

[2019-07-02 04:19] #139 closed

[2019-07-02 04:20] jameelmoses commented on #109
Closing for now due to inactivity. Happy to re-open if there are still performance issues, although I have yet to experience any myself.

[2019-07-02 04:20] #109 closed

[2019-07-02 04:40] jameelmoses commented on #123
Although I agree that some fancy logging would be nice for unknown options, the documentation is very clear in detailing the supported options and their respective keys and expected values. I'm hesitant to add more code, or worse more dependencies, to account for typos.

[2019-07-02 04:40] #123 closed

[2021-09-15 21:28] DaveyJake opened #141 "module.parent deprecated in Node 14+"
**Describe the bug**
As of Node v14.6.0, [`module.parent` is deprecated](https://nodejs.org/api/modules.html#modules_module_parent).

**To Reproduce**
Steps to reproduce the behavior:
1. Attempting to use the plugin in my gulpfile.babel.js produces the following error:

**Expected behavior**
I expect my node environment to startup like it always has.

**Desktop (please complete the following infor

[2021-09-25 16:20] strarsis commented on #141
+1, this is a blocker for all recent node versions! 😿

[2021-09-25 16:21] strarsis commented on #141
[code]

[2021-09-25 16:46] jameelmoses commented on #141
I’m on vacation right now, but I’ll take a look at this next week. In the meantime, happy to review a PR if you’re inclined.

[2022-01-20 16:51] charlieartist opened #142 "Apple Silicon/ARM 64 Support"
When moving a project over to a new Apple Silicon machine and updating node packages, was hit with errors when attempting to run `npm install gulp-load-plugins --save dev` or `npm install gulp-load-plugins@2.0.7 --save dev`. The output of either installation attempt was:

[code]

This is on a machine running Node 16.3.2 and NPM 8.1.2

[2022-04-06 17:18] daedam commented on #141
I encountered this problem today as well, while trying to convert my gulpfile to use ESM. I am using the following in `gulpfile.mjs` to instantiate the plugin:

[code]

[2022-04-06 17:25] jameelmoses commented on #141
Happy to look into this if someone can create a repo with a reproducible issue. I'm using Node v16.14.0 right now with `gulpfile.babel.js` without issue.

[2022-04-06 17:27] jameelmoses commented on #141
can you try this instead of the multi-line statement?

[code]

[2022-05-10 14:10] SCPCOEXR commented on #141
Also dealing with the issue @daedam mentioned.
Error [ERR_REQUIRE_ESM]: require() of ES Module C:\project\node_modules\gulp-imagemin\index.js from C:\project\node_modules\gulp-load-plugins\index.js not supported.
Instead change the require of C:\project\node_modules\gulp-imagemin\index.js in C:\project\node_modules\gulp-load-plugins\index.js to a dynamic import() which is available in all CommonJS

[2022-08-29 15:04] #141 closed

[2022-08-29 15:11] jameelmoses commented on #141
This has been resolved in [v2.0.8](https://github.com/jackfranklin/gulp-load-plugins/releases/tag/v2.0.8)

[2022-08-29 15:22] jameelmoses commented on #142
@charlieartist I've been actively using this on an M1 Mac since they were first released without issue. Is this still an issue? What Node version are you using? Creating a repo for me to replicate the issue would be helpful.

[2022-10-10 05:47] simongcc opened #144 "Extra Parameters for conditional assignment"
Hello! I am using gulp-sass for a few years. Recently, it requires to use with  an extra parameter to assign a compiler to it, is it possible when using gulp-load-plugins, pass that parameter to it conditionally so that only gulp-sass will take that?

eg. it require to run like:
const sassFunc = require('gulp-sass')(require('node-sass'));
Since const $ = require('gulp-load-plugins')(); which make

[2022-10-10 17:29] jameelmoses commented on #144
That's correct. You will need to handle `gulp-sass` outside of `gulp-load-plugins` as a manual, individual assignment still without `$.sass`

[code]

[2022-10-10 17:29] #144 closed